/*
 * Device Tree Overlay para STM32F429I Discovery
 * - Configura o LED Verde (PG13).
 * - Configura o Console e Shell para usar USB CDC ACM (Virtual COM Port).
 * - Adiciona um alias para o botão do usuário (PA0).
 */

/ {
    chosen {
        /* Redireciona o console e o shell para o dispositivo USB CDC ACM UART */
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
        zephyr,cpu-load-counter = &timers2;
    };
    
    aliases {
        led0 = &green_led;
        led1 = &red_led_4;
        sw0 = &user_button; /* Apenas referenciamos o botão existente no dts base. */
    };

    leds {
        compatible = "gpio-leds";
        green_led: led_0 {
            gpios = <&gpiog 13 GPIO_ACTIVE_HIGH>;
            label = "Green LED";
        };
    };

    zephyr,user {
		dac = <&dac1>;
		dac-channel-id = <1>;
		dac-resolution = <12>;
		io-channels = <&adc1 1>, <&adc1 6>;
	};
};

&adc1 {
    st,adc-prescaler = <4>;
    status = "okay";
    #address-cells = <1>;
	#size-cells = <0>;

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&dac1 {
    status = "okay";
};

&timers2 {
    status = "okay";
};

/* Habilita os clocks dos GPIOs necessários */
&gpiog {
    status = "okay"; /* Para o LED em PG13 */
};

&gpioa {
    status = "okay"; /* Para o Botão do Usuário em PA0 */
};

/* Habilita o controlador USB e adiciona a instância do CDC ACM */
&zephyr_udc0 {
    status = "okay"; /* Garante que o controlador USB está habilitado */
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_UART_0";
    };
};
